<!DOCTYPE html>
<html>
    <head>
        <meta name="viewpoint" content="with=device-width,initial-scale=1.0">
        <title>recycle website design</title>
        <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href=" https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    </head>
<body>
    <section class="sub-header">
        <nav>
            <a href="index.html"><img src="images/logo.png"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><form action="/index"><input type="submit" value="INDEX"></form></li>
                    <li><form action="/about"><input type="submit" value="ABOUT"></form></li>
                    <li><form action="/methods"><input type="submit" value="METHODS"></form></li>
                    <li><form action="/blog"><input type="submit" value="BLOG"></form></li>
                    <li><form action="/contact"><input type="submit" value="CONTACT"></form></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <h1>About Us</h1>
        

    </section>
    
    <!------footer--------->
    <section class="footer">
        <h4>About us</h4>
        <p>we are trying to built awarness among people.So, that we can save oue warth atleast 0.001%</p>
        <div class="icons">
            <i class="fab fa-facebook"></i>
            <i class='fab fa-instagram'></i>
            <i class='fab fa-twitter'></i>
            <i class='fab fa-linkedin'></i>
        </div>
    </section>

<!---javaScript for Menu----->
<script>
    var navLinks=document.getElementById("navLinks")
    function showMenu(){
        navLinks.style.right="0";
    }
    function hideMenu(){
        navLinks.style.right="-200px";
    }

</script>
</body>
</html>