<!DOCTYPE html>
<html>
    <head>
        <meta name="viewpoint" content="with=device-width,initial-scale=1.0">
        <title>recycle website design</title>
        <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href=" https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    </head>
<body>
    <section class="sub-header">
        <nav>
            <a href="index.html"><img src="images/logo.png"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="methods.html">METHODS</a></li>
                    <li><a href="blog.html">BLOG</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <h1>CONTACT</h1>
        

    </section>
    <section>
        <div class="comment-box">
            <h3>Leave a comment</h3>
            <form action="/" class="comment-form">
                <input type="text" name="name" placeholder="Enter Name">
                <input type="email" name="email" placeholder="Enter email">
                <textarea rows='5' name="comment" placeholder="Your comment"></textarea>
                <button type="submit" class="hero-btn red-btn">Post comment</button>
                
                
            </form>
        </div>
        </section>
    <!------footer--------->
    <section class="footer">
        <h4>Contact</h4>
        <p>we are trying to built awarness among people.So, that we can save oue warth atleast 0.001%</p>
        <div class="icons">
            <i class="fab fa-facebook"></i>
            <i class='fab fa-instagram'></i>
            <i class='fab fa-twitter'></i>
            <i class='fab fa-linkedin'></i>
        </div>
    </section>

<!---javaScript for Menu----->
<script>
    var navLinks=document.getElementById("navLinks")
    function showMenu(){
        navLinks.style.right="0";
    }
    function hideMenu(){
        navLinks.style.right="-200px";
    }

</script>
</body>
</html>