<!DOCTYPE html>
<html>
    <head>
        <meta name="viewpoint" content="with=device-width,initial-scale=1.0">
        <title>recycle website design</title>
        <link rel="stylesheet" href="static/CSS/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    </head>
<body>
    <section class="sub-header">
        <nav>
            <a href="index.html"><img src="static/images/logo.png"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><form action="/"><input type="submit" value="INDEX"></form></li>
                    <li><form action="/about"><input type="submit" value="ABOUT"></form></li>
                    <li><form action="/methods"><input type="submit" value="METHODS"></form></li>
                    <li><form action="/blog"><input type="submit" value="BLOG"></form></li>
                    <li><form action="/contact"><input type="submit" value="CONTACT"></form></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <h1>CONTACT</h1>
        

    </section>
    <section class="contact-us">
        <div class="row">
            <div class="contact-col">
                <div><i class="fa fa-home"></i>
                    <span><h4>Hitech city, Hyderabad</h4>
                    <p>Telanagna</p></span>
                </div>
                <div><i class="fa fa-phone" aria-hidden="true"></i>
                    <span><h4>+91 9333444999</h4>
                    <p>Monday to saturday, 10A.M to 5 P.M</p></span>
                </div>
                <div><i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <span><h4>recycle@yayoo.com</h4>
                    <p>Email us your query</p></span>
                </div>
    
            </div>
        <div class="contact-col">
            <h3>Leave a Message</h3>
            <form action="/">
                <input type="text" placeholder="Enter your name" required>
                <input type="email" placeholder="Enter your email" required>
                <input type="text" placeholder="Enter your name" required>
                <textarea rows="4" placeholder="Message" required></textarea>
                <button type="submit" class="hero-btn" Send Message></button>
            </form>

        </div>
    
        </div>
        </section>
    <!------footer--------->
    <section class="footer">
        <h4>Contact</h4>
        <p>we are trying to built awarness among people.So, that we can save our earth atleast 0.001%</p>
        <div class="icons">
            <i class="fab fa-facebook"></i>
            <i class='fab fa-instagram'></i>
            <i class='fab fa-twitter'></i>
            <i class='fab fa-linkedin'></i>
        </div>
    </section>

<!---javaScript for Menu----->
<script>
    var navLinks=document.getElementById("navLinks")
    function showMenu(){
        navLinks.style.right="0";
    }
    function hideMenu(){
        navLinks.style.right="-200px";
    }

</script>
</body>
</html>