<!DOCTYPE html>
<html>
    <head>
        <meta name="viewpoint" content="with=device-width,initial-scale=1.0">
        <title>recycle website design</title>
        <link rel="stylesheet" href="static/CSS/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="static/images/logo.png"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><form action="/"><input type="submit" value="INDEX"></form></li>
                    <li><form action="/about"><input type="submit" value="ABOUT"></form></li>
                    <li><form action="/methods"><input type="submit" value="METHODS"></form></li>
                    <li><form action="/blog"><input type="submit" value="BLOG"></form></li>
                    <li><form action="/contact"><input type="submit" value="CONTACT"></form></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    
    <div class="text-box">
        <h1>How to recyle at home</h1>
        <p>As the population increses the waste procuded by human also incresed.
            We are running against techonolgy by destroying the earth.<br> to which one day human cant survive.
            So we can save our earth by small changes in our lifestyles.
        </p>
        <a href=""class="hero-btn">To know Intresting facts</a>
    </div>
    </section>
    <!--Dicussions-->
    <section class="Dicussions">
        <h1>General talk-organisations</h1>
        <p>It's not that recycling is bad. It's certainly better for the environment than landfilling or burning unsorted trash. But there's a growing worry among environmentalists that it could be promoting additional consumption — and additional waste</p>
        <div class="row">
            <div class="Dicussions-col">
                <h3>Skrap</h3>
                <p>Skrap is an environment sustainability firm that helps businesses and brands adopt sustainable practices and zero waste solutions.
                     Our aim is to build awareness around 'waste' and inspire positive climate action.
                     <br>Website:<a href="https://www.skrap.in/" >skrap.in</a></p>
            </div>
            <div class="Dicussions-col">
                <h3>Plastics for change</h3>
                <p>We use Plastic waste as a resource to create better livelihoods and a cleaner planet.
                    We’re the first recycler to be verified by The World Fair Trade Organization. 
                    <br>
                    website:<a href= "https://www.plasticsforchange.org/">Plasticsforchange.org</a></p>
            </div>
            <div class="Dicussions-col">
                <h3>Gem</h3>
                <p>GEM is Producer Responsibility Organization(PRO) that provides unique solution to yield maximum benefits out of your trash and 
                    also fulfill your EPR liability.<br>
                    website:<a href= "https://gemrecycling.com/">Gemrecycling.com</a></p>

                </p>
            </div>
        </div>

    </section>
    <!------footer--------->
    <section class="footer">
        <h4>About us</h4>
        <p>we are trying to built awarness among people.So, that we can save our earth atleast 0.001%</p>
        <div class="icons">
            <i class="fab fa-facebook"></i>
            <i class='fab fa-instagram'></i>
            <i class='fab fa-twitter'></i>
            <i class='fab fa-linkedin'></i>
            
        </div>
    </section>

<!---javaScript for Menu----->
<script>
    var navLinks=document.getElementById("navLinks")
    function showMenu(){
        navLinks.style.right="0";
    }
    function hideMenu(){
        navLinks.style.right="-200px";
    }

</script>
</body>
</html>