<!DOCTYPE html>
<html>
    <head>
        <meta name="viewpoint" content="with=device-width,initial-scale=1.0">
        <title>recycle website design</title>
        <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href=" https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    </head>
<body>
    <section class="sub-header">
        <nav>
            <a href="index.html"><img src="images/logo.png"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><form action="/index"><input type="submit" value="INDEX"></form></li>
                    <li><form action="/about"><input type="submit" value="ABOUT"></form></li>
                    <li><form action="/methods"><input type="submit" value="METHODS"></form></li>
                    <li><form action="/blog"><input type="submit" value="BLOG"></form></li>
                    <li><form action="/contact"><input type="submit" value="CONTACT"></form></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <h1>methods</h1>
        <p>Think recycling is unachievable in your home?<br> The good news is that recycling can be simple (if not satisfying) and doesn’t necessarily take up all the space in your kitchen.</p>
        

    </section>
    <!------Methods--------->
    <section class="Methods">
        <div class="row_1">
            <div class="Methods-col">
                <h3>Recycling Plastics</h3>
                <p>The palstic can be recyled in many ways but the easy ways at home are:<br>
                    using as pots for plants,pen box.

                </p>
                <a href="methods.html"><img src="images/bird.jpg"></a>
            </div>
            <div class="Methods-col">
                <h3>How to close the bag using a plastic bottle cap</h3>
                <p>Its other easy way just dont through the bottle caps<br>
                can keep as show in fig to store food.</p>
                <a href="methods.html"><img src="images/cap.jpg"></a>
            </div>
            <div class="Methods-col">
                <h3>Recycle cardboard into a DIY cell phone charging holder</h3>
                <p>Mobile holder is another such easy thing to make<br>
                just need a cardboard</p>
                <a href="methods.html"><img src="images/phone.jpg"></a>
            </div>
        </div>
        <div class="row_2">
            <div class="Methods-col">
                <h3>Ladle candle holder</h3>
                <p>BY using the spoones which are of no use to hold candles as decaration</p>
                <a href="methods.html"><img src="images/candle.jpg"></a>
            </div>
            <div class="Methods-col">
                <h3>Only we humans make waste that nature cant digest</h3>
                <a href="methods.html"><img src="images/r.jpg"></a>
            </div>
            <div class="Methods-col">
                <h3>Second life for bulbs</h3>
                <p>The used bibls can aslo be used for decartin the house</p>
                <a href="methods.html"><img src="images/bulb.jpg"></a>
            </div>
        </div>
    </section>

    
    <!------footer--------->
    <section class="footer">
        <h4>Methods</h4>
        <p>we are trying to built awarness among people.So, that we can save oue warth atleast 0.001%</p>
        <div class="icons">
            <i class="fab fa-facebook"></i>
            <i class='fab fa-instagram'></i>
            <i class='fab fa-twitter'></i>
            <i class='fab fa-linkedin'></i>
        </div>
    </section>

<!---javaScript for Menu----->
<script>
    var navLinks=document.getElementById("navLinks")
    function showMenu(){
        navLinks.style.right="0";
    }
    function hideMenu(){
        navLinks.style.right="-200px";
    }

</script>
</body>
</html>